<%include pub/admin_head.html%>
    </head>
    <body>
        <!-- Page Container -->
        <div class="page-container">
            <%include pub/admin_nav.html%>
            <!-- Page Content -->
            <div class="page-content">
            	<%include pub/admin_top.html%>
                <div class="page-inner">
                	<div class="page-title">
                        <h3 class="breadcrumb-header">上传学习视频</h3>
                    </div>
                    <div id="main-wrapper">
                        <div class="col-md-4">
                            <div class="panel panel-white">
                                <div class="panel-body">
                                    <div>
                                        <input type="hidden" value="<%- lessons._id %>" id="admin-lesson-id">
                                        <input type="hidden" value="<%- lessons.covers %>" id="admin-lesson-oldcovers">
										<div class="form-group">
											<label>标题</label>
											<input type="text" class="form-control" id="admin-lesson-title" value="<%- lessons.title %>">
										</div>
										<div class="form-group">
											<label>简介</label>
											<textarea class="form-control" id="admin-lesson-abstract" rows="4" ><%- lessons.abstract %></textarea>
										</div>
										<div class="form-group">
											<label>课程须知</label>
											<textarea class="form-control" id="admin-lesson-knowsome" rows="4"><%- lessons.knowsome %></textarea>
                                            <label style="font-size: 13px;">添加链接，请复制下面文本并替换#号部分（链接必须带上‘http://’部分）</label>
                                            <p>&lt;a href="#" target="_blank"&gt;#&lt;/a&gt;</p>
										</div>
										<div class="form-group">
											<label>你能学到什么？</label>
											<textarea class="form-control" id="admin-lesson-learnsome" rows="4"><%- lessons.learnsome %></textarea>
										</div>
										<div class="form-group">
											<label>封面路径（修改操作需要重新上传封面图片）</label>
                                            <input type="file" class="form-control" id="admin-lesson-cover">
										</div>
										<div class="form-group">
											<label>视频资源地址（视频不要重名，名称不能为中文）</label>
											<input type="text" class="form-control" id="admin-lesson-src" value="<%- lessons.src %>">
										</div>
										<button type="button" class="btn btn-primary" id="admin-lesson-btn">确认</button>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascripts -->
        <%include pub/admin_foot.html%>
    </body>
</html>