<footer>
	<div class="container">
    <div class="row">
      <div class="footer-logo">
      <a href="/">LOGO</a>
      <p>未来又离我们近了一点点</p>
      </div>
      <div class="foot-img-bar">
        <img src="/img/index/gzh.jpg" width="100">
        <p>关注我们</p>
      </div>
      <ul class="footer-linker">
        <li class="linker-title">关于我们</li>
        <li><a href="/aboutus">社区公约</a></li>
        <li><a href="/aboutus#aboutus">关于我们</a></li>
        <li><a href="/aboutus#contentus">联系我们</a></li>
        <li><a href="/aboutus#cooperate">商务合作</a></li>
      </ul>
      <ul class="footer-linker">
        <li class="linker-title">意见反馈</li>
        <li><a href="/suggest">产品建议</a></li>
        <li><a href="/feedback">问题反馈</a></li>
      </ul>
    </div>
	</div>
</footer>

<div class="modal slide modal-small" id="tipUser" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">举报原因</h4>
        </div>
        <div class="modal-body delete-modal-body">
          <textarea class="form-control" rows="4" id="tip-user-val"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="tip-user-btn">确认举报</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
  </div>
</div>