<%include pub/head.html%>
</head>
<style type="text/css">
	#portamento_container {float: left;position: relative;}
	#sidebar {float:none; position:absolute;}
	#sidebar.fixed {position:fixed;} /* if the panel is sliding, it needs position:fixed */
</style>
  <body class="bodybg">
    <div class="xu-index-head bg2" style="overflow: visible">
    	<div class="head-bg4"></div>
    	<div class="container">
	    	<%include pub/nav.html%>
	    </div>
	</div>
    <div class="xu-main-panel">
    	<div class="container">
    		<div class="us-panel row">
	    		<div class="mw-left-bar" id="sidebar">
	    			<ul id="about-us-ul">
	    				<li class="active"><a href="#convention">社区公约</a></li>
        				<li><a href="#aboutus">关于我们</a></li>
        				<li><a href="#contentus">联系我们</a></li>
        				<li><a href="#cooperate">商务合作</a></li>
        			</ul>
	    		</div>
	    		<div class="mw-right-bar">
	    			<div class="myjob-title border">
	                    <h3 id="convention">社区公约</h3>
	                </div>
	                <div class="aboutus-bar">
                    	<p>小幽编程社区欢迎所有喜欢 Scratch 创作的同学！同时希望也需要大家来共同维护一个礼貌友善、富有活力的社区，这样我们才能在这里快乐创作！</p>
                    	<h4>礼貌友善</h4>
                    	<p>小幽编程社区汇聚了不同年龄、不同背景的朋友，发表留言时，请尊重他人，记得保持礼貌和友善。请勿发表毫无意义的言论，请勿辱骂、攻击、贬低他人。</p>
						<h4>乐于分享</h4>
						<p>小幽编程社区遵从开源的原则，社区内任意公开发布的作品都支持查看源码。我们鼓励主动分享作品，互相学习。当然改编、转载、借鉴别人的作品，也请尊重和感谢原作者。</p>
						<h4>保护隐私</h4>
						<p>不要公开发表自己的联系方式，透露自己的个人信息，尤其是电话、个人住址、微信、QQ等，以防受到不必要的骚扰，增加人身安全风险。</p>
						<h4>防止受骗</h4>
						<p>小幽编程社区是不会向普通用户收取资金或费用，涉及到金钱问题还请及时联系客服，以防上当受骗。</p>
						<h4>诚实守信</h4>
						<p>坚持不抄袭，不欺骗，不散布谣言的原则。做一个诚实守信的人。</p>
						<h4>共创和谐</h4>
						<p>请勿以推广曝光为目的，发表售卖产品、提供服务、宣传推广等相关广告内容。若在社区内看到任何营销推广、恶意无礼、暴力恐怖或其他任何不恰当的作品或留言，请积极地点击“举报”，与我们共同维护社区的和谐。</p>
						<p>若有任何蓄意破坏社区和谐，影响社区内容、伤害其他朋友的行为，我们将采取行动制止。</p>
                    </div>
                    <div class="myjob-title border">
	                    <h3 id="aboutus">关于我们</h3>
	                </div>
	                <div class="aboutus-bar">
                    	<p>小幽编程社区是一个帮助青少年编程的创意编程社区。搭载最新的 Scratch 3.0，为热爱编程的同学提供创作工具。</p>
                    	<h4>关于 Scratch </h4>
                    	<p>Scratch是麻省理工媒体实验室终身幼儿园组（MIT lifelong Kindergarten Group）设计开发的图形化在线编程工具（https://scratch.mit.edu/）。特别支持手机端作品展示，中文支持更友好，为所有喜欢创意编程的朋友，提供自由创作、发表、交流作品的平台，并永久公益，免费开放。通过拖拽积木块就能设计程序，无需学习编程语法。我们希望所有使用小幽的同学，能够轻松愉快地学习程序设计，学习数学及计算机知识， 锻炼创造性思维和逻辑思维，培养团队协作能力等。</p>
                    	<h4>我们是谁？</h4>
                    	<p>我们同样是一群热爱编程，热爱创新，关注少儿教育的人，同时我们也希望能帮助到更多需要技术支持的中小企业或者培训中心。</p>
                    </div>
                    <div class="myjob-title border">
	                    <h3 id="contentus">联系我们</h3>
	                </div>
	                <div class="aboutus-bar">
                    	<p>
                    		客服QQ：3456058372
                    		<img src="/img/index/xiaouqq.jpg" width="150" style="margin-left: 20px"/>
                    	</p>
                    	<p>
                    		客服微信：xyqlab
                    		<img src="/img/index/xiaouwx.jpg" width="150" style="margin-left: 20px"/>
                    	</p>
                    </div>
                    <div class="myjob-title border">
	                    <h3 id="cooperate">商务合作</h3>
	                </div>
	                <div class="aboutus-bar">
                    	<h4>技术支撑</h4>
                    	<p>小幽团队可以为您提供可靠的技术支持，可以为您量身定做社区技术服务，如有需求请联系客服。</p>
                    	<h4>商务支持</h4>
                    	<p>小幽团队目前还在发展阶段，如果您对小幽有商业合作兴趣，请联系客服。</p>
                        <h4>投资合作</h4>
                        <p>商业投资请联系客服。</p>
                    </div>
	    		</div>
	    	</div>
    	</div>
    </div>
    <%include pub/foot.html%>
    <%include pub/script.html%>
    <script type="text/javascript" src="/plugin/portamento.js"></script>
    <script>
		$('#sidebar').portamento({disableWorkaround: false});
	</script>
  </body>
</html>