
<!-- Javascripts -->
<script src="/admin/plugins/jquery/jquery-3.1.0.min.js"></script>
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/admin/plugins/uniform/js/jquery.uniform.standalone.js"></script>
<script src="/admin/plugins/flot/jquery.flot.min.js"></script>
<script src="/admin/plugins/flot/jquery.flot.time.min.js"></script>
<script src="/admin/plugins/flot/jquery.flot.symbol.min.js"></script>
<script src="/admin/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/admin/js/space.min.js"></script>
<script src="/admin/js/admin.js"></script>