<!DOCTYPE html>
<html lang="zh-CN">
  <head>
  	<meta charset="utf-8">
	<title><%- title%></title>
	<meta name="description" content="小幽编程社区以提供 scratch 技术服务为主，同时带有免费社区体验，搭载原版 Scratch 3.0，为大家提供一个方便的Scratch开发的交流、创作、分享平台。同时，小幽编程还为广大的编程教育爱好者提供技术支撑。">
	<meta name="keywords" content="scratch3.0,scratch开发,scratch3.0开发,小幽编程,小幽编程社区,小U编程,Scratch3.0,Scratch3.0中文版,Scratch技术服务,小U卡搭,少儿编程,积木编程,趣味编程,卡搭社区,小U卡搭,小U,卡搭,儿童编程,少儿应用,Scratch,创造力,逻辑思维,小游戏,K12,中小学生创客,STEAM,小学信息技术,编程,机器人,可视化编程,图形化编程,未来教育,网易卡搭,乐高,素质教育,游戏制作,动画制作">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<meta name="author" content="小幽编程">
	<meta name="robots" content="index">
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link href="/boot/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/h5_style.css' />